	<h2>Character Sheet</h2>
	<div class="row" *ngIf="character; else loadingBig">
		<!-- Character Creation Left Half -->
		<div class="col-md-6">

			<!-- CHARACTER DETAILS -->
			<div class="row">
				<div class="col-12">
					<create-character-details [(character)]="character"
									(onDetailsLocked)="saveProgress($event)"
									(onDetailsUnlocked)="saveProgress($event)">
					</create-character-details>
				</div>
			</div>

			<!-- ATTRIBUTES -->
			<div class="row">
				<div class="col-12">
					<create-character-attributes [(character)]="character"
							(onAttributesLocked)="saveProgress($event)"
							(onAttributesUnlocked)="saveProgress($event)"
							(onAttributesGenerated="saveProgress($event)">
					</create-character-attributes>
				</div>
			</div>
			
			<!-- EQUIPMENT -->
			<div class='row' *ngIf="character.stage > STAGE.Details">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="row">
									<div class="col-7">
										<h5>Equipment</h5>
									</div>
									<div class="col-5 text-right">
										
											

											&nbsp;
											
											<button type="button" class="btn btn-sm" (click)="toggleEquipmentStage(character)"
															[disabled]='character.stage > STAGE.Spells
																					|| character.stage < STAGE.Details
																					|| status.isLocked'>
												<span class="fa" 
													[ngClass]="{'fa-unlock': character.stage == STAGE.Equipment && !status.isLocked,
																			'fa-lock': character.stage != STAGE.Equipment  || status.isLocked}">
												</span>
											</button>

			
									</div>
								</div>
							</div>

							<div class="card-body">
							
								<div class='col-md-12'>
									<ngb-tabset>
										<ngb-tab title="My Stuff">
											<ng-template ngbTabContent>
												<span *ngIf="!character ">
													<br />
													<h6>Sorry, you got nothing.</h6>
												</span>
												<select-gear *ngIf="character" [(sourceEquipment)]="character.equipment"
																			[(sourceGold)]="character.gold"
																			[allowAll]="true">
												</select-gear>

											</ng-template>
										</ngb-tab>
										<ngb-tab title="Shopping Cart" 
														*ngIf="character.stage==STAGE.Equipment && !status.isLocked ">
											<ng-template ngbTabContent>
												<select-gear [(targetEquipment)]="character.equipment"
																			[(targetGold)]="character.gold">
												</select-gear>
											</ng-template>
										</ngb-tab>
									</ngb-tabset>

								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		
		<!--Reference: Right Half -->
		<div class="col-md-6">
			<ngb-tabset type="pills">
				<ngb-tab title="Races">
					<ng-template ngbTabContent>
						<select-by-label [options]="cs.getRaces(character)" [(selected)]="infoRace" displayProperty="name" returnObject="false">
						</select-by-label>
						<race-info [raceName]="infoRace"></race-info>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Classes">
					<ng-template ngbTabContent>
						<select-by-label [options]="cs.getClasses(character)" [(selected)]="infoClass" displayProperty="name" returnObject="false">
						</select-by-label>
						<class-info [className]="infoClass"></class-info>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Specs">
					<ng-template ngbTabContent>
						<ngb-tabset>
							<ngb-tab title="Saving Throws">
								<ng-template ngbTabContent>
									<saving-throw-chart [attributes]="character.attributes" [raceName]="character.raceName" [className]="character.className" [level]="character.level" [attributesJson]="JSON.stringify(character.attributes)">
									</saving-throw-chart>
								</ng-template>
							</ngb-tab>
							<ngb-tab title="Ability Mods" class="small" *ngIf="character.attributes && character.attributes.length>0">
								<ng-template ngbTabContent>
									<table class="table table-specs">
										<ng-container *ngFor="let ability of cs.getAttributeAbilityModList(getAdjustedAttributes(character))">
											<tr *ngIf="ability.value && ability.value!=0 
																	&& !isNaN(ability.value) 
																	&& (!character.className || isIn(ability.classes,character.className))"
													[ngClass]="{'text-warning':!character.className && ability.classes}">
												<td>
													{{ability.name | caseConvert: 'FC'}}
												</td>
												<td class="text-right"> 
													<span *ngIf="ability.type=='MOD'">
														{{ability.value < 0 ? ability.value : "+" + ability.value}}  
														{{ability.isPercent ? "%" : ""}}
													</span>
													<span *ngIf="ability.type=='VALUE'">
														{{ability.value + (ability.isPercent ? '%' : '')}}
													</span>
													<span *ngIf="ability.type=='DESCRIPTION'">
														{{ability.description}}
													</span>
												</td>
											</tr>
										</ng-container>
									</table>
								</ng-template>
							</ngb-tab>
							<ngb-tab title="Tables" class="small" *ngIf="character.attributes && character.attributes.length>0">
								<ng-template ngbTabContent>
									<ng-container *ngFor="let table of cs.getRelevantTables(character)">
										<display-table *ngIf="table.type=='TableClass'" [table]="table">
										</display-table>
									</ng-container>
								</ng-template>
							</ngb-tab>
						</ngb-tabset>
					</ng-template>
				</ngb-tab>
				<!--ngb-tab title="Equipment">
					<ng-template ngbTabContent>
						<equipment [isShopping]="isCartShowing" [(cart)]="cart" 
											[showQuantity]="isCartShowing" [showTotals]="false"></equipment>
					</ng-template>
				</ngb-tab-->
				
			</ngb-tabset>
		</div>
	</div>

<ng-template #genericModal let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">{{modal.title}}</h4>
		<button type="button" class="close" aria-label="Close" (click)="c('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
	</div>
	<div class="modal-body">
		{{modal.message}}
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" (click)="c('cancel')">{{modal.cancelButton}}</button>
		<button type="button" class="btn btn-default" (click)="d('continue')">{{modal.continueButton}}</button>
	</div>
<ng-template>
<ng-template #loadingBig>
	<span class="fa fa-spin fa-spinner fa-5x"></span>
</ng-template>