

.badge-clickable.disabled {
	cursor: default;
	pointer-events: none;
}
.badge-default {
	cursor: pointer;
	background-color: grey;
	color: white;
}

.badge-default.badge-success {
	background-color: green;
}
