<table class="table table-sm">
		<tr>
			<th>Character</th>
			<th></th>
			<th>Race</th>
			<th>Class</th>
			<th>Alignment</th>
			<th class=" text-right"><span class="ra ra-muscle-up" title="Strength"></span></th>
			<th class=" text-right"><span class="ra ra-feather-wing" title="Dexterity"></span></th>
			<th class=" text-right"><span class="ra ra-raven" title="Intelligence"></span></th>
			<th class=" text-right"><span class="ra ra-rune-stone" title="Wisdom"></span></th>
			<th class=" text-right"><span class="ra ra-health" title="Constitution"></span></th>
			<th class=" text-right"><span class="ra ra-aura" title="Charisma"></span></th>
			<th class=" text-right"><span class="fa fa-heartbeat" title="Hit Points"></span> </th>
			<th class=" text-right" (click)="toggleAcType()">
				<span class="ra ra-player" title="Unarmored AC" *ngIf="!showArmoredAc"></span> 
				<span class="ra ra-shield" title="Fully Armored AC" *ngIf="showArmoredAc"></span> 
			</th>
			<th class="text-center"><span class="ra ra-player-lift" title="Level"></span> </th>
			<th><span class=""></span> </th>
			<th></th>
		</tr>
			<tr *ngFor="let character of characters"
				(click)="select(character)" 
				[ngClass]="selectedCharacterKey==character.key ? 'bg-success text-white' : ''">
				<td>{{character.name}}</td>
				<td> 
					<span class="fa"
								[ngClass]="{'fa-mars': character.gender=='Male', 
														'fa-venus': character.gender=='Female',
														'fa-transgender-alt': character.gender=='It\'s Complicated'}">
					</span>
				</td>
				<td>{{character.raceName}}</td>
				<td>{{character.className}}</td>
				<td>{{character.alignmentLaw}}/{{character.alignmentGood}}</td>
				<td class=" text-right">{{ getAttributeValue('STR',character.attributes) }}</td> 
				<td class=" text-right">{{ getAttributeValue('DEX',character.attributes) }}</td> 
				<td class=" text-right">{{ getAttributeValue('INT',character.attributes) }}</td> 
				<td class=" text-right">{{ getAttributeValue('WIS',character.attributes) }}</td> 
				<td class=" text-right">{{ getAttributeValue('CON',character.attributes) }}</td>
				<td class=" text-right">{{ getAttributeValue('CHA',character.attributes) }}</td>
				<td class=" text-right">
					{{ getHP(character) }}
				</td>
				<td class=" text-right">{{ getAc(character, showArmoredAc) }}</td>
				<td class=" text-center">{{ character.level }}</td>
				<td><span class="fa" [ngClass]="getProgressionIconName(character)"></span></td>
				<td class="text-right">
					<button *ngFor="let btn of buttons" class="btn btn-xs mr-2" [attr.title]="btn.title"
									[ngClass]="btn.buttonClass" (click)='btn.callback($event,character)'>
						<span [ngClass]="btn.iconClass"></span>
					</button>
				</td>					
			</tr>

	</table>

