<div class="container">
	<div class="row">
		<ng-container *ngIf="characters$ | async as characters; else loading">
			<div class="col-12" *ngIf="characters.length>0">
				<h3>Characters currently engaged...</h3>
				<table class="table table-sm">
					<tr>
						<th>Name</th>
						<th>Race</th>
						<th>Class</th>
						<th>Game</th>
						<th>Started</th>
						<th>Status</th>
						<th></th>
						<th></th>
					</tr>
					<tr *ngFor="let character of filterEngagedCharacters(characters)" class="align-middle">
						<td>{{character.name}}</td>
						<td>{{character.raceName}}</td>
						<td>{{character.className}}</td>
						<ng-container *ngIf="games[character.currentGame] as game; else fourColumnTemplate">
							<td>{{game.name}}</td>
							<td>{{game.startDate | date }}</td>
							<td>{{GAME_STATUS[game.gameStatus]}}</td>
							<td class="text-right">
								<span *ngIf="game.gameStatus==GAME_STATUS.New && character.stage < STAGE.Complete">
									<button class="btn btn-xs" (click)="continueCharacterCreation($event, character)">
										<span class="fa fa-pencil"></span>
									</button>
								</span>
								<button class="btn btn-xs ml-2" title="Join Game (In progress)"
												*ngIf="game.gameStatus==GAME_STATUS.Playing"
											(click)="playGame($event, character)">
									<span class="fa fa-gamepad"></span>
								</button>
								<button class="btn btn-xs ml-2" title="Leave this game"
												(click)="leaveGame(character)">
									<span class="fa fa-sign-out"></span>
								</button>
							</td>
						</ng-container>
					</tr>
				</table>
			</div>
		</ng-container>
	</div>
	<div class="row">
		<ng-container *ngIf="characters$ | async as characters; else loading">
			<div class="col-12" *ngIf="characters.length>0">
				<h3>Idle Characters...</h3>
				<character-list [characters]="filterIdleCharacters(characters)" [allowSelect]="false"
					[buttons]="idleCharacterButtons">
				</character-list>
			</div>
		</ng-container>
	</div>
	<div class="row">
		<div class="col-12">
			<button class="btn btn-default" (click)="newCharacter()">
				Make Another!
			</button>
		</div>
	</div>
</div>
<ng-template #fourColumnTemplate >
	<td></td>
	<td></td>
	<td></td>
	<td class="text-right">
		<button class="btn btn-xs ml-2" title="Leave this game"
						(click)="leaveGame(character)">
			<span class="fa fa-sign-out"></span>
		</button>
	</td>
</ng-template>
